<!DOCTYPE html>
<html>
<head>
    <title>Login to flaskChat!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Login to flaskChat!</h1>
    <form action="/login/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register/">Register here</a>.</p>
</body>
</html>
